#meme-text {

  position: absolute;
  font-size: 30px;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  z-index: 1;
  max-width: 450px;
  display: inline;
  text-shadow: 5px 5px 5px black;
}

#meme-image {

  position: absolute;
  top: 0px;
  margin: 0;
  height: 500px;
  width: 500px;

}

#meme-image-container {

  height: 500px;
  width: 500px;
  position: relative;
  border: 1px black solid;
  background-color: white;

}

#fire {

  background-color: rgb(255, 0, 0)
}

#water {

    background-color:rgb(0, 0, 255);

}

#earth {


    background-color: rgb(0, 128, 0);

}


